<?xml version="1.0"?>
<doc>
    <assembly>
        <name>API</name>
    </assembly>
    <members>
        <member name="T:API.WebApiConfig">
            <summary>
            WEB API Global Configuration
            </summary>
        </member>
        <member name="M:API.WebApiConfig.Register(System.Web.Http.HttpConfiguration)">
            <summary>
            Register Config Variables
            </summary>
            <param name="config"></param>
        </member>
        <member name="T:API.Endpoints.Account.AccountController">
            <summary>
            account manager
            </summary>
        </member>
        <member name="M:API.Endpoints.Account.AccountController.Login(API.Endpoints.Account.Models.USER)">
            <summary>
            valida usuario y password... si esta ok devuelve jwt
            </summary>
            <param name="auth"></param>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Account.Services.Post.#ctor(API.Endpoints.Account.Models.USER)">
            <summary>
            
            </summary>
            <param name="credentials"></param>
        </member>
        <member name="M:API.Endpoints.Account.Services.Post.ExecuteAsync(System.Threading.CancellationToken)">
            <summary>
            
            </summary>
            <param name="cancellationToken"></param>
            <returns></returns>
        </member>
        <member name="T:API.Endpoints.Attorney.AttorneyController">
            <summary>
            attorney
            </summary>
        </member>
        <member name="M:API.Endpoints.Attorney.AttorneyController.Get">
            <summary>
            obtiene la lista de abogados
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Attorney.AttorneyController.Post(API.Endpoints.Attorney.Models.CREATEATTORNEY)">
            <summary>
            crea un registro de la tabla usuarios
            </summary>
        </member>
        <member name="M:API.Endpoints.Attorney.AttorneyController.Put(API.Endpoints.Attorney.Models.CREATEATTORNEY)">
            <summary>
            modifica un registro de la tabla abogados
            </summary>
        </member>
        <member name="M:API.Endpoints.Attorney.AttorneyController.Delete(System.Guid)">
            <summary>
            elimina un registro de la tabla abogados
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Attorney.Services.Delete.#ctor(System.String)">
            <summary>
            constructor
            </summary>
            <param name="token"></param>
        </member>
        <member name="M:API.Endpoints.Attorney.Services.Post.#ctor(API.Endpoints.Attorney.Models.CREATEATTORNEY)">
            <summary>
            METODO /SERVICIO "PARA CREAR NUEVOS ABOGADOS"
            </summary>
            <param name="model"></param>
        </member>
        <member name="T:API.Endpoints.Case.CaseController">
            <summary>
            case
            </summary>
        </member>
        <member name="M:API.Endpoints.Case.CaseController.Post(API.Endpoints.Case.Models.CREATECASE)">
            <summary>
            crea un registro de la tabla casos
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Case.CaseController.Get">
            <summary>
            obtiene la lista de casos
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Case.CaseController.Delete(System.Guid)">
            <summary>
            elimina un registro de caso
            </summary>
            <returns></returns>
        </member>
        <member name="T:API.Endpoints.Case.Services.Delete">
            <summary>
            eliminar caso
            </summary>
        </member>
        <member name="M:API.Endpoints.Case.Services.Delete.#ctor(System.String)">
            <summary>
            constructor
            </summary>
            <param name="token"></param>
        </member>
        <member name="M:API.Endpoints.Case.Services.Post.#ctor(API.Endpoints.Case.Models.CREATECASE)">
            <summary>
            METODO /SERVICIO "PARA CREAR NUEVOS CASOS"
            </summary>
            <param name="model"></param>
        </member>
        <member name="T:API.Endpoints.Dashboard.DashboardController">
            <summary>
            cxc
            </summary>
        </member>
        <member name="M:API.Endpoints.Dashboard.DashboardController.Get">
            <summary>
            obtiene dashboard
            </summary>
            <returns></returns>
        </member>
        <member name="T:API.Endpoints.HistoryCase.HistoryCaseController">
            <summary>
            antecedentes case
            </summary>
        </member>
        <member name="M:API.Endpoints.HistoryCase.HistoryCaseController.Post(API.Endpoints.HistoryCase.Models.CREATEHISTORYCASE)">
            <summary>
            crea un registro de la tabla antecedentes de casos
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.HistoryCase.Services.Post.#ctor(API.Endpoints.HistoryCase.Models.CREATEHISTORYCASE)">
            <summary>
            METODO /SERVICIO "PARA CREAR NUEVOS ANTECEDENTES"
            </summary>
            <param name="model"></param>
        </member>
        <member name="T:API.Endpoints.Manager.Client.ClientController">
            <summary>
            client
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.Client.ClientController.Post(API.Endpoints.Manager.Client.Models.CREATECLIENT)">
            <summary>
            crea un registro de la tabla cliente
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.Client.ClientController.Get">
            <summary>
            obtiene la lista de clientes
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.Client.ClientController.Delete(System.Guid)">
            <summary>
            elimina un registro de la tabla cliente
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Manager.Client.ClientController.Put(API.Endpoints.Manager.Client.Models.CREATECLIENT)">
            <summary>
            modifica un registro de la tabla cliente
            </summary>
        </member>
        <member name="T:API.Endpoints.Manager.Client.Services.Delete">
            <summary>
            eliminar cliente
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.Client.Services.Delete.#ctor(System.String)">
            <summary>
            constructor
            </summary>
            <param name="token"></param>
        </member>
        <member name="M:API.Endpoints.Manager.Client.Services.Post.#ctor(API.Endpoints.Manager.Client.Models.CREATECLIENT)">
            <summary>
            METODO /SERVICIO "PARA CREAR NUEVOS CLIENTES"
            </summary>
            <param name="model"></param>
        </member>
        <member name="T:API.Endpoints.Manager.User.Services.Delete">
            <summary>
            eliminar usuario
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.User.Services.Delete.#ctor(System.String)">
            <summary>
            constructor
            </summary>
            <param name="token"></param>
        </member>
        <member name="M:API.Endpoints.Manager.User.Services.Post.#ctor(API.Endpoints.Manager.User.Models.CREATEUSER)">
            <summary>
            METODO /SERVICIO "PARA CREAR NUEVOS USUARIOS"
            </summary>
            <param name="model"></param>
        </member>
        <member name="T:API.Endpoints.Manager.User.UserController">
            <summary>
            user
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.User.UserController.Get">
            <summary>
            obtiene la lista de usuarios
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Manager.User.UserController.Post(API.Endpoints.Manager.User.Models.CREATEUSER)">
            <summary>
            crea un registro de la tabla usuarios
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.User.UserController.Put(API.Endpoints.Manager.User.Models.CREATEUSER)">
            <summary>
            modifica un registro de la tabla usuarios
            </summary>
        </member>
        <member name="M:API.Endpoints.Manager.User.UserController.Delete(System.Guid)">
            <summary>
            elimina un registro de la tabla usuario
            </summary>
            <returns></returns>
        </member>
        <member name="T:API.Endpoints.Payment.PaymentController">
            <summary>
            case
            </summary>
        </member>
        <member name="M:API.Endpoints.Payment.PaymentController.Post(API.Endpoints.Payment.Models.CREATEPAYMENT)">
            <summary>
            crea un registro de la tabla pago
            </summary>
            <param name = "parametros" ></param >
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Payment.PaymentController.Get">
            <summary>
            obtiene la lista de pagos
            </summary>
            <returns></returns>
        </member>
        <member name="M:API.Endpoints.Payment.PaymentController.Delete(System.Guid)">
            <summary>
            elimina un registro de pago
            </summary>
            <returns></returns>
        </member>
        <member name="T:API.Endpoints.Payment.Services.Delete">
            <summary>
            eliminar pago
            </summary>
        </member>
        <member name="M:API.Endpoints.Payment.Services.Delete.#ctor(System.String)">
            <summary>
            constructor
            </summary>
            <param name="token"></param>
        </member>
        <member name="M:API.Endpoints.Payment.Services.Post.#ctor(API.Endpoints.Payment.Models.CREATEPAYMENT)">
            <summary>
            METODO /SERVICIO "PARA CREAR NUEVOS PAGOS"
            </summary>
            <param name="model"></param>
        </member>
        <member name="T:API.Errors">
            <summary>
              A strongly-typed resource class, for looking up localized strings, etc.
            </summary>
        </member>
        <member name="P:API.Errors.ResourceManager">
            <summary>
              Returns the cached ResourceManager instance used by this class.
            </summary>
        </member>
        <member name="P:API.Errors.Culture">
            <summary>
              Overrides the current thread's CurrentUICulture property for all
              resource lookups using this strongly typed resource class.
            </summary>
        </member>
        <member name="P:API.Errors.COUNTRY_REQUIRED">
            <summary>
              Looks up a localized string similar to Country is required.
            </summary>
        </member>
        <member name="P:API.Errors.EMAIL_REQUIRED">
            <summary>
              Looks up a localized string similar to Email is required.
            </summary>
        </member>
        <member name="P:API.Errors.EMPTY_BODY">
            <summary>
              Looks up a localized string similar to Model is Empty.
            </summary>
        </member>
        <member name="P:API.Errors.PASSWORD_REQUIRED">
            <summary>
              Looks up a localized string similar to Password is required.
            </summary>
        </member>
        <member name="T:API.WebApiApplication">
            <summary>
            Web Api Bootstrap
            </summary>
        </member>
        <member name="M:API.WebApiApplication.Application_Start">
            <summary>
            Start up
            </summary>
        </member>
        <member name="T:API.Resources.Errors">
            <summary>
              A strongly-typed resource class, for looking up localized strings, etc.
            </summary>
        </member>
        <member name="P:API.Resources.Errors.ResourceManager">
            <summary>
              Returns the cached ResourceManager instance used by this class.
            </summary>
        </member>
        <member name="P:API.Resources.Errors.Culture">
            <summary>
              Overrides the current thread's CurrentUICulture property for all
              resource lookups using this strongly typed resource class.
            </summary>
        </member>
        <member name="P:API.Resources.Errors.EMPTY_BODY">
            <summary>
              Looks up a localized string similar to No existen datos en el mensaje.
            </summary>
        </member>
        <member name="P:API.Resources.Errors.USERNAME_OR_PASSWORD_INCORRECT">
            <summary>
              Looks up a localized string similar to El usuario o contraseña no son correctos.
            </summary>
        </member>
        <member name="T:API.Resources.Util">
            <summary>
              Clase de recurso fuertemente tipado, para buscar cadenas traducidas, etc.
            </summary>
        </member>
        <member name="P:API.Resources.Util.ResourceManager">
            <summary>
              Devuelve la instancia de ResourceManager almacenada en caché utilizada por esta clase.
            </summary>
        </member>
        <member name="P:API.Resources.Util.Culture">
            <summary>
              Reemplaza la propiedad CurrentUICulture del subproceso actual para todas las
              búsquedas de recursos mediante esta clase de recurso fuertemente tipado.
            </summary>
        </member>
        <member name="P:API.Resources.Util.MailTemplate">
             <summary>
               Busca una cadena traducida similar a &lt;html&gt;
            &lt;body style=&quot;font-family:arial&quot;&gt;
                &lt;div style=&quot;border: 20px solid rgb(229, 229, 229); 
                            width: 80%; 
                            padding:16px&quot;&gt;
            
                    &lt;table style=&quot;width:100%&quot;&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;width:150px&quot;&gt;
                                         
            &lt;/td&gt;
                            &lt;td&gt;
                                &lt;span style=&quot;font-size: 25px; 
                                             color: rgb(128, 128, 128); &quot;&gt;
            
                                    Monitoreo Digital v2.0
            
                                &lt;/spa [resto de la cadena truncado]&quot;;.
             </summary>
        </member>
        <member name="P:API.Resources.Util.MailTemplate_recoveryPassword">
             <summary>
               Busca una cadena traducida similar a &lt;html&gt;
            &lt;body style=&quot;font-family:arial&quot;&gt;
                &lt;div style=&quot;border: 20px solid rgb(229, 229, 229); 
                            width: 80%; 
                            padding:16px&quot;&gt;
            
                    &lt;table style=&quot;width:100%&quot;&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;width:150px&quot;&gt;
                            &lt;/td&gt;
                            &lt;td&gt;
                                &lt;span style=&quot;font-size: 25px; 
                                             color: rgb(128, 128, 128); &quot;&gt;
            
                                    Monitoreo Digital v2.0
            
                                &lt;/span&gt;
                        [resto de la cadena truncado]&quot;;.
             </summary>
        </member>
        <member name="P:API.Resources.Util.MailTemplate_suspension">
             <summary>
               Busca una cadena traducida similar a &lt;html&gt;
            &lt;body style=&quot;font-family:arial&quot;&gt;
                &lt;div style=&quot;border: 20px solid rgb(229, 229, 229); 
                            width: 80%; 
                            padding:16px&quot;&gt;
            
                    &lt;table style=&quot;width:100%&quot;&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;width:150px&quot;&gt;
                                         
            &lt;/td&gt;
                            &lt;td&gt;
                                &lt;span style=&quot;font-size: 25px; 
                                             color: rgb(128, 128, 128); &quot;&gt;
            
                                    Monitoreo Digital v2.0
            
                                &lt;/spa [resto de la cadena truncado]&quot;;.
             </summary>
        </member>
        <member name="T:API.Specifics.Configuration.Get">
            text
        </member>
        <member name="M:API.Specifics.Configuration.Get.GetConfiguration(System.String,Gale.Db.IDataActions)">
            text
        </member>
        <member name="M:API.Specifics.Configuration.Get.GetConfiguration(System.Nullable{System.Guid},Gale.Db.IDataActions)">
            text
        </member>
    </members>
</doc>
